{% extends "layout.html" %}
{% block title %}Your Applications{% endblock %}
{% block content %}
<br>
<h4>Total Applications: {{ count }}</h4> 
<br>
<h3>Pending Applications</h3>
<table class="table">
    <thead class = "thead-light">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Topic</th>
        <th scope="col">Department</th>
        <th scope="col">Due date</th>
        <th scope="col">Response</th>
      </tr>
    </thead>
    <tbody>
    {% for app in applications %}
    {% if 'Pending' in app.app_status %}
      <tr>
        <td>{{app.student_name}} {{app.surname}}</td>
        <td>{{app.topic}}</td>
        <td>{{app.dname}}</td>
        <td>{{app.announcement_date}}</td>
        <td><a href="{{ url_for('application_action',app_id = app.id, s_id = app.student_id)}}">Analyze</a></td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
<h3>Accepted Applications</h3>
<table class="table">
    <thead class = "thead-light">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Topic</th>
        <th scope="col">Department</th>
        <th scope="col">Due date</th>
      </tr>
    </thead>
    <tbody>
    {% for app in applications %}
    {% if 'Accepted' in app.app_status %}
      <tr>
        <td>{{app.student_name}} {{app.surname}}</td>
        <td>{{app.topic}}</td>
        <td>{{app.dname}}</td>
        <td>{{app.announcement_date}}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
<h3>Rejected Applications</h3>
<table class="table">
    <thead class = "thead-light">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Topic</th>
        <th scope="col">Department</th>
        <th scope="col">Due date</th>
      </tr>
    </thead>
    <tbody>
    {% for app in applications %}
    {% if 'Rejected' in app.app_status %}
      <tr>
        <td>{{app.student_name}} {{app.surname}}</td>
        <td>{{app.topic}}</td>
        <td>{{app.dname}}</td>
        <td>{{app.announcement_date}}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}