
{% extends "layout.html" %}
{% block title %}login{% endblock %}
{% block content %}  
<div style = "margin-left: 20%; margin-right: 20%">
  <h1 style="text-align: center;">Register for Companies</h1>  
  <br>
  <form action="{{ url_for('registerForCompany') }}" method="post">
    <div class = "form-group">
      <div class="msg">{{ msg }}</div> 
      <input id="email" name="email" type="text" placeholder="Enter Your e-mail" class="textbox form-control"/></br></br> 
      <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox form-control"/></br></br> 
      <input id="cname" name="cname" type="text" placeholder="Enter the Company Name" class="textbox form-control"/></br></br>
      <input type="submit" class="btn btn-primary form-control" value="Sign In"></br></br>
    </div> 
  </form> 
  <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p> 
</div>    
{% endblock %}